* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --background: #ffffff;
  /* --foreground: #ffffff; */
  --primary: #007bff;
  --secondary: #e91e63;
  --foreground:#333333;
  /* --background:#333333; */
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  height: 100vh;
  /* height: 100dvh; */
  background-color: var(--background);
}
h1, h2, h3, h4, h5 {
  text-align: center;
}
h1, h3 {
  color: var(--primary);
}
h2, h4 {
  color: var(--secondary);
}

#content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* height: 100dvh; */
  overflow-y: auto;
}
main{
  background-color: var(--background);
  color: var(--foreground);
  width: 100%;
  text-align: justify;
  padding: 20px;
  max-width: 1000px;
}

side-nav{
  height: 100vh;
  /* height: 100dvh; */
  transition: width 0.3s;
  z-index: 5;
}
menu-button{
  position: absolute; 
  left: 0px; 
  top: 0px;
  z-index: 10;
  visibility: hidden;
}